<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>Archetype Created Web Application</display-name>
    
    <security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>manager</role-name>
			<role-name>employee</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>trobo</web-resource-name>
	        <url-pattern>/resources/*</url-pattern>
	        <url-pattern>/employeePage</url-pattern>
	        <url-pattern>/employees</url-pattern>
	    </web-resource-collection>
	    <!-- OMIT auth-constraint -->
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin pages</web-resource-name>
			<url-pattern>/driversPage</url-pattern>
			<url-pattern>/shiftPage</url-pattern>
			<url-pattern>/vehiclesPage</url-pattern>
			<url-pattern>/addressPage</url-pattern>
			<url-pattern>/tripSheetPage</url-pattern>
			<url-pattern>/viewTripSheet</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Sample Security Realm</realm-name>
	</login-config>
</web-app>